.page-wrapper {
  form {
    flex: 1 1 100%;
    padding-bottom: 40px;
  }

  .page-title {
    margin-bottom: 40px;
  }

  .page-content {
    display: flex;
    justify-content: start;
    column-gap: 60px;

    .description-block {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      row-gap: 6px;

      .add-button {
        width: 200px;
        margin-bottom: 20px;
      }

      .sizes {
        display: flex;
        align-items: center;
        column-gap: 20px;
        button {
          margin-bottom: 20px;
        }
      }
    }
  }
}
