.page-wrapper {
  .page-title {
    padding-bottom: 20px;
  }

  .list {
    padding: 0;
    box-shadow: 0 0 10px #6d6d6d40;

    .list-item {
      height: auto;
      padding: 16px 0;

      .item-content {
        display: flex;
        column-gap: 24px;
        width: 100%;

        .item-description {
          flex: 1 1 100%;
          font-size: 16px;
          font-weight: 500;
          .name {
            line-height: 25px;
            margin-bottom: 6px;
          }
          .size {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
          }
          .price {
            font-weight: 600;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .dashed-divider {
    margin: 0 16px;
  }
}


