.page-wrapper {
  padding-bottom: 20px;

  .page-actions {
    display: flex;
    column-gap: 20px;
    margin: 20px 0;

    .order-filter,
    .date-filter {
      width: 250px;
    }

    button {
      width: 20%;
      max-width: 200px;
      max-height: 40px;
      margin-left: auto;
    }
  }

  .table {
    flex: 1 1 100%;

    .mat-column-open {
      width: 32px;
      text-align: center;
      font-weight: bold;
    }
  }
}
